<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta property="og:site_name" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:url" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <title></title>
        <link href="./resources/styles/main.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <h1>Text animation examples</h1>
        <div class="row">
          <div class="row__item">
            <p>Text animation #1</p>
            <div class="wrapper" id="wrapper-1">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
          <div class="row__item">
            <p>Text animation #2</p>
            <div class="wrapper" id="wrapper-2">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row__item">
            <p>Text animation #3</p>
            <div class="wrapper" id="wrapper-3">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
          <div class="row__item">
            <p>Text animation #4</p>
            <div class="wrapper" id="wrapper-4">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row__item">
            <p>Text animation #5</p>
            <div class="wrapper" id="wrapper-5">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
          <div class="row__item">
            <p>Text animation #6</p>
            <div class="wrapper" id="wrapper-6">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="row__item">
            <p>Text animation #7</p>
            <div class="wrapper" id="wrapper-7">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
          <div class="row__item">
            <p>Text animation #8</p>
            <div class="wrapper" id="wrapper-8">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="row__item">
              <p>Text animation #9</p>
              <div class="wrapper" id="wrapper-9">
                <p>TEXT TO ANIMATE</p>
              </div>
            </div>
            <div class="row__item">
              <p>Text animation #10</p>
              <div class="wrapper" id="wrapper-10">
                <p>TEXT TO ANIMATE</p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="row__item--full">
            <div class="wrapper" id="wrapper-11">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="row__item--full">
              <div class="wrapper" id="wrapper-12">
                <p>SOME TEXT</p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="row__item--full">
              <div class="wrapper" id="wrapper-13">
                <p>SOME TEXT</p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="row__item--full">
              <div class="wrapper" id="wrapper-14">
                <p>
                  <span>T</span>
                  <span>E</span>
                  <span>X</span>
                  <span>T</span>
                  <span>&nbsp;</span>
                  <span>B</span>
                  <span>O</span>
                  <span>U</span>
                  <span>N</span>
                  <span>C</span>
                  <span>E</span>
                </p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="row__item--full">
              <div class="wrapper" id="wrapper-15">
                <p>
                  <span>T</span>
                  <span>E</span>
                  <span>X</span>
                  <span>T</span>
                  <span>&nbsp;</span>
                  <span>B</span>
                  <span>O</span>
                  <span>U</span>
                  <span>N</span>
                  <span>C</span>
                  <span>E</span>
                </p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="row__item--full">
              <div class="wrapper" id="wrapper-16">
                <p>
                    Nam ullamcorper varius ligula, a mollis nunc porttitor vel. 
                    Aliquam et ligula sapien. Nullam et posuere ipsum. 
                    Nulla vulputate quis urna varius ultricies. 
                    Morbi dapibus quam fringilla felis pretium, ut scelerisque dolor tincidunt. 
                    Sed finibus turpis eu hendrerit ornare. Ut ut ex velit. 
                    Fusce euismod volutpat felis, vel gravida quam. Fusce tincidunt imperdiet est eget aliquet. Ut id aliquet eros. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Pellentesque dui erat, tincidunt feugiat euismod nec, auctor ut augue. Ut volutpat at neque ac luctus. 
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Suspendisse tellus metus, pellentesque a libero et, tempor rutrum risus. Sed ultricies sit amet ante nec laoreet.
                </p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="row__item--full">
              <div class="wrapper slide-in-wrapper" id="wrapper-17">
                <p class="slide-in-text-outer"><span class="slide-in-text-inner">TEXT TO ANIMATE</span></p>
                <p class="text-hover"><span class="slide-in-fill"></span><span class="slide-in-animate">TEXT TO ANIMATE</span><span class="slide-in-fill"></span></p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="row__item--full">
            <div class="wrapper" id="wrapper-18">
              <p>TEXT TO ANIMATE</p>
            </div>
          </div>
        </div>
      </div>
        <script src="resources/scripts/bundle.js"></script>
    </body>
</html>